@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');


:root {
    --uranium-blue: #AEDFF7;
    --indigo-dye: #005377;
    --white-smoke: #F5F5F5;
    --celadon: #A8D5BA;
    --davys-gray: #5C5C5C;
    --light-blue: #D2EAF6;
    --diamond-blue: #2D80A2;
    --bright-blue: #D8F2FE;

    --poppins: 'Poppins', sans-serif;
    --baloo: 'Baloo 2', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

.init_page_container {
    height: 110vh;
    background: url(assets/background_octo.png) no-repeat center;
    background-size: cover;
    background-color: var(--diamond-blue);
    font-family: var(--poppins);
    color: var(--indigo-dye);
    padding: 0;
}




.content_container {
    display: flex;
    flex-direction: column;
    color: var(--light-blue);
    font-family: var(--baloo);
    line-height: 1.3;
    padding-left: 5%;
    padding-top: 5em;
    padding-bottom: 5%;
    gap: 2em;
    user-select: none;
    overflow: hidden;
}

.content_container button {
    display: flex;
    font-size: 2em;
    background-color: var(--indigo-dye);
    width: 13em;
    height: 2.5em;
    color: var(--white-smoke);
    border-radius: 25em;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    font-family: var(--baloo);
    font-weight: bold;
    gap: 0.5em;
    box-shadow: 0em 0em 2em var(--indigo-dye);
}


.content_container button:hover {
    box-shadow: 0em 0em 2em var(--uranium-blue);
}

.content_container h1 {
    font-size: 1.4em;
    overflow: hidden;
}

.content_container p {
    font-size: 2.5em;
    overflow: hidden;
}

.logo {
    filter: brightness(2) contrast(1.5);
    width: 10em;
    margin-bottom: 0.5em;
}


.video_page_container {
    height: 90vh;
    width: 100%;
    background: url(assets/background_asset.svg) no-repeat right;
    background-color: var(--bright-blue);
    background-size: 80em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_player {
    width: 50vw;
    height: 60vh;
    border-radius: 2em;
    outline: none;
    display: block;
    box-shadow: 0px 0px 2em var(--indigo-dye);
    border: 0.4em solid var(--uranium-blue);

}

.ending_page {
    width: 100vw;
    height: 100vh;
    background-color: var(--diamond-blue);
    justify-content: center; /* Alinha os itens ao centro no eixo horizontal */
    align-items: center;    /* Alinha os itens ao centro no eixo vertical */
    display: flex;
    font-family: var(--poppins);
    font-size: 2em;
    color: var(--white-smoke);
    text-align: center; /* Alinha o conteúdo de texto dentro do h1 ao centro */
    gap: 10vw;
}

.ending_page_content {
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
}

.ending_page h1 {
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    overflow: hidden;
    text-shadow: 0px 0px 0.115em var(--white-smoke); 
}

.offers_container {
    width: 50vw;
    height: 100vh;
    justify-content: space-between;
    display: flex;
    font-size: 0.575em;
    align-items: end;
    flex-direction: column;
    padding: 4em 2em;
}

.mockup_page {
    width: 100vw;
    height: 120vh;
    background-color: var(--diamond-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.mockup_page h1 {
    font-weight: normal;
    width: 100%;
    text-align: center;
    color: var(--white-smoke);
    font-family: var(--poppins);
    font-size: 3em;
    overflow: hidden;
}

.text_div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-family: var(--baloo);
    background-color: transparent;
    text-align: center;
    width: 25em;
    color: var(--uranium-blue);
    box-shadow: 0px 0px 0.365em;
    border: 0.3em solid var(--uranium-blue);
    font-weight: bold;
    height: 4em;
    border-radius: 1.5em;
}

.mockup_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next_asset {
    cursor: pointer;
    filter: brightness(200%);
}



.team_page {
    height: 100vh;
    width: 100vw;
    background-color: var(--uranium-blue);
    background: url(assets/background_asset3.png) no-repeat;
    background-size: cover;
}


