/* Root Variables */
:root {
    --uranium-blue: #AEDFF7;
    --indigo-dye: #005377;
    --white-smoke: #F5F5F5;
    --celadon: #A8D5BA;
    --davys-gray: #5C5C5C;
    --light-blue: #D2EAF6;
    --diamond-blue: #2D80A2;
    --bright-blue: #D8F2FE;
    --second-blue: #1C97CD;

    --poppins: 'Poppins', sans-serif;
    --baloo: 'Baloo 2', sans-serif;
}

/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    font-family: var(--poppins);
    line-height: 1.6;
    overflow-x: hidden;
}

/* Sections Shared Styles */
section {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Initial Page */
.init_page_container {
    background: url(assets/background_octo.png) no-repeat center;
    background-size: cover;
    background-color: var(--diamond-blue);
    color: var(--light-blue);
    justify-content: center;
    align-items: start;
    display: flex;
}

.content_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: left;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 5%;
}

.logo {
    max-width: 15rem;

    filter: brightness(2) contrast(1.5);
}

.content_container h1 {
    font-size: 1.5rem;
    color: var(--uranium-blue);
}

.content_container p {
    font-size: 2.5rem;
    font-family: var(--baloo);
    line-height: 1.3;
    color: var(--white-smoke);
}

#scroll_button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    padding: 0.925rem;
    background-color: var(--indigo-dye);
    color: var(--white-smoke);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: var(--baloo);
    font-weight: bold;
}

#scroll_button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--uranium-blue);
}

#scroll_button img {
    max-width: 30px;
}

/* Video Section */
.video_page_container {
    background: url(assets/background_asset.svg) no-repeat right;
    background-color: var(--bright-blue);
    background-size: cover;
}

.video_player {
    width: 90%;
    max-width: 800px;
    height: 500px;
    border-radius: 2rem;
    border: 0.4rem solid var(--uranium-blue);
    box-shadow: 0 0 2rem var(--indigo-dye);
}

/* Offers Section */
.ending_page {
    background-color: var(--diamond-blue);
    color: var(--white-smoke);
    background-image: url(assets/shadow_background3.jpg);
    background-size: cover;
}

.ending_page_content {
    display: flex;
    gap: 6rem;
}

.ending_page h1 {
    font-size: 3rem;
    font-family: var(--poppins);
    padding-top: 4rem;
}

.mission_page {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: start;
    box-shadow: inset 0 0 8rem rgba(0, 0, 0, 0.3);
    background-color: var(--uranium-blue);
    background-image: url(assets/background_ods.svg);
    background-repeat: no-repeat;
    background-position: 35vw center;
}

.vision_container {
    height: 100vh;
    background-color: #f5f5f5;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.ods_container {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    padding-left: 15rem;
    align-items: center;
}

.ods_text_container {
    width: 25rem;
    height: 15rem;
    background-color: var(--second-blue);
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    color: var(--white-smoke);
    font-family: var(--baloo);
    padding: 1.5rem;
    border-radius: 2rem;
}

.ods_text_container h1 {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}

.ods_text_container p {
    font-size: 1rem;
    font-weight: 600;
}


.item {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.item_container {
    width: 25rem;
    height: 10rem;
    border: 0.2rem solid var(--second-blue);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--poppins);
    color: var(--second-blue);
    box-shadow: 0rem 1rem 2rem #1c98cd67;
    text-align: left;
}

.item_container h1 {
    text-align: left;
    font-size: 1.1rem;
}

.item_container p {
    font-size: 0.85rem;
}

.offers_container {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    gap: 2rem;
}

.offers_container>div {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-basis: calc(33.333% - 1rem);
    min-width: 250px;
    height: 15rem;
    width: 100%;
    border: var(--uranium-blue) 4px solid;
    color: var(--white-smoke);
    font-family: var(--baloo);
    border-radius: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 5%;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.875rem;
    transition: 0.5s;
}

.offers_container>div:hover {
    scale: 1.1;
}

.offer_title {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    color: var(--uranium-blue);
    justify-content: center;
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
    background-color: var(--indigo-dye);
    border-bottom: 4px solid var(--uranium-blue);
}



.offer img {
    width: 5rem;
}

/* Mockup Section */
.mockup_page {
    background-color: var(--diamond-blue);
    background-image: url(assets/shadow_background2.jpg);
    background-size: cover;
}

.mockup_page_content {
    display: flex;
    gap: 2rem;
}

.mockup_page_content h1 {
    color: var(--white-smoke);
    font-size: 3rem;
    text-shadow: 0px 0px 2rem var(--white-smoke);

}

.mockup_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 35rem;
}


.mockup_cellphone {
    width: 13rem;
    scale: 0.9;
    border-radius: 25px;
    cursor: pointer;
    transition: 1s;
}

.mockup_cellphone.active {
    width: 14rem;
    transition: 1s;
    scale: 0.95;
    border-radius: 25px;
    cursor: pointer;
}

.text_div {
    display: inline-block;
    padding: 1rem;
    border: 0.3rem solid var(--uranium-blue);
    border-radius: 1.5rem;
    color: var(--uranium-blue);
    font-family: var(--baloo);
    box-shadow: 0 0 0.8rem var(--uranium-blue);
}

/* Team Section */
.team_page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url(assets/background_asset3.png) no-repeat center;
    background-size: cover;
    background-color: var(--uranium-blue);
    padding-top: 5%;
}

.team_page h1 {
    font-size: 2rem;
    color: var(--indigo-dye);
}

.photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 colunas */
    gap: 3rem;
    /* Espaçamento entre os itens */
    justify-content: center;
    width: 80vw;
    padding-bottom: 5%;
    transition: 0.5s;
}

.photos img {
    width: 15rem;
}

.photos img:hover {
    scale: 1.1;
    transition: 0.5s;
}



/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    .content_container {
        margin-left: 0;
        text-align: center;
        align-items: center;
    }

    .content_container p {
        font-size: 2rem;
    }

    .offers_container>div {
        flex-basis: 100%;
    }

    .mockup_container img,
    .photos img {
        max-width: 150px;
    }
}

@media screen and (max-width: 480px) {
    .content_container p {
        font-size: 1.5rem;
    }

    .video_player {
        height: 250px;
    }

    .photos img {
        max-width: 100px;
    }
}